a:hover{
    text-decoration: none;
}

form{
    margin: 5px 0 10px 5px;
}

#menu a, #menu>span{
    margin: 0 0 0 30px;
    font-size: 16px;
    color: #000;
}

#menu>span.upload{
    background: limegreen;
    border-color: green;
    font-weight: bold;
}

#main-container, #menu{
    width: 980px;
    margin: 20px auto 0;
}

#main-container>div.pic{
    width: 220px;
    height: 320px;
    display: inline-block;
    text-align: left;
    overflow: hidden;
    opacity: 0.75;
    vertical-align: middle;
    padding: 0 10px;
}

#main-container>div.pic>div:first-child{
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#main-container>div.pic>div:first-child>img{
    width: 100%;
    height: 100%;
}

#main-container>div.pic>div.comment{
    max-height: 40px;
    overflow: hidden;
}

#main-container>div.pic span.edit{
    font-weight: bold;
    color: green;
    padding: 3px;
    border: 1px solid green;
    cursor: pointer;
    margin-right: 10px;
}

#main-container>div.pic span.del{
    font-weight: bold;
    padding: 3px;
    border: 1px solid red;
    color: red;
    cursor: pointer;
}

#main-container>div.pic>form>textarea{
    height: 20px;
}

#showImage{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: #888;*/
    /*opacity: 0.65;*/
}

#showImage div{
    /*width: 50%;*/
    margin: 25px auto;
    text-align: center;
}



